.header {
  width: 100%;
  height: 150px;
  background-color: black;
  color: white;
  font-size: 3.2rem;
}
.footer {
  margin-top: 703px;
  width: 100%;
  height: 100px;
  background-color: black;
}
