header {
  position: relative;
  width: 100%;
  height: 30rem;
  background-color: #141b33;
  color: white;
  font-size: 3.2rem;
  margin-bottom: 600px;
}

.hi-blankColor {
  position: absolute;
  width: 100%;
  height: 50rem;
  background-color: #141b33;
}

.jm-topNavMenu {
  display: flex;
  justify-content: end;
  position: fixed;
  width: 100vw;
  padding: 3rem 0;
  background-color: #141b33;
  z-index: 1000;
}

.hi-topMenuImgLogo {
  width: 15rem;
  height: 5rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20rem;
}
.hi-topMenuImgLogo > a > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.jm-topNavMenu > ul {
  display: flex;
  margin-right: 3rem;
}

.jm-topNav {
  display: flex;
  justify-content: end;
}

/* top Btn */
#hi-topBtn {
  width: 4rem;
  height: 4rem;
  position: fixed;
  z-index: 1000;
  bottom: 5rem;
  right: 5rem;
  cursor: pointer;
}
#hi-topBtn > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 계절 메뉴 테그*/

.jm-topNavMenu > ul > li > a {
  font-size: 2.5rem;
  font-weight: 400;
  color: #fff;
  font-family: "Rosarivo", serif;
  font-weight: 400;
  font-style: normal;
}

.jm-topNavMenu > ul > li {
  margin-right: 3rem;
}

.jm-mainMenuBtn {
  position: relative;
  bottom: 1rem;
  display: flex;
  align-items: center;
  width: 5rem;
  height: 5rem;
  color: #fff;
  background-image: url("../img/icon/mainHambar.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

/* 메인페이지 이미지 */
.jm-mainImgBox {
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 65rem;
  text-align: center;
  align-content: center;
}

.jm-mainImgBox > .jm-mainImgs {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
}

.jm-mainImgs > li {
  position: relative;
  width: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 2s;
}

.jm-mainImg.on {
  position: absolute;
  z-index: 1000;
  width: 1000px;
  height: 100%;
}

.jm-mainImgFc {
  display: none;
}

.jm-mainImgFc.on {
  display: block;
}

.jm-mainImg {
  cursor: pointer;
}

.jm-mainImg > div {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 60px;
  color: #fff;
  z-index: 1000;
}

.jm-mainImg > div {
  display: none;
}

.jm-mainImg > div.on {
  display: block;
}

.jm-mainImgs > li:nth-child(2) {
  background-image: url("../img/main/main-slide-sp.png");
}
.jm-mainImgs > li:nth-child(3) {
  background-image: url("../img/main/main-slide-su.png");
}
.jm-mainImgs > li:nth-child(4) {
  background-image: url("../img/main/main-slide-au.png");
}
.jm-mainImgs > li:nth-child(5) {
  background-image: url("../img/main/main-slide-wi.png");
}

.jm-mainImg-content {
  display: flex;
  align-items: end;
  padding-right: 2rem;
  font-family: "Rosarivo";
  text-shadow: 0px 0px 5px black;
}

/* 메인 버튼 */
.jm-mainPrevBtn,
.jm-mainNextBtn {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 37.5%;
  color: gold;
  font-size: 3rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.jm-mainPrevBtn {
  background-image: url("../img/icon/mainArrow.svg");
  left: 0;
}

.jm-mainNextBtn {
  background-image: url("../img/icon/mainArrow.svg");
  transform: rotate(180deg);
}

.jm-mainNextBtn {
  right: 0;
}

/* 사람 아이콘 */
.jm-pepleIcon {
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 700px;
  height: 100px;
}

.jm-pepleIcon > li {
  width: 50%;
  height: 100%;
  align-content: center;
}

.jm-pepleIcon > li > ul {
  display: flex;
  width: 100%;
  height: 100%;
}

.jm-pepleIcon > li > ul > li:first-child {
  width: 30%;
  height: 100%;
  align-content: center;
}

.jm-pepleIcon > li > ul > li:last-child {
  width: 70%;
  height: 100%;
  align-content: center;
}

.jm-createTour-intro span {
  display: block;
  text-align: start;
  font-size: 1.6rem;
}

/* hein section 01 ----------*/

.hi-section {
  width: 100vw;
  height: 90vh;
  position: relative;
}
.hi-subTit {
  width: 100%;
  height: 10rem;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-family: "Rosarivo";
}
.hi-seasonT {
  width: 80%;
  height: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hi-seasonT > div {
  width: 20%;
  height: 85%;
  align-content: center;
}
#hi-seasonImg {
  width: 100%;
  height: 80%;
  background-color: gray;
}
#hi-seasonImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.hi-seasonImg1 {
  border-radius: 3rem 0 0 0;
}
.hi-seasonImg1 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3rem 0 0 0;
}
.hi-seasonImg2 {
  border-radius: 0 0 3rem 0;
}
.hi-seasonImg2 > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 0 3rem 0;
}
.hi-seasonName {
  font-size: 2rem;
  text-align: center;
  font-family: "DM Sans";
}
/* hein section 02 ----------*/
.hi-seasonEnf {
  width: 100%;
  height: 80%;
  margin: auto;
  background-color: rgba(20, 20, 57, 0.85);
  display: flex;
  align-items: center;
}
/* button style */
.hi-seasonEnf-btn {
  display: block;
  width: 3rem;
  height: 3rem;
  color: white;
  border: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 2rem;
}
#hi-seasonEnf-btnL {
  margin-left: 5%;
}
#hi-seasonEnf-btnR {
  margin-right: 5%;
}
/* main bord style */
.hi-seasonEnf-mainBox {
  width: 80%;
  height: 80%;
  overflow: hidden;
  position: relative;
}
.hi-seasonEnf-mainBox > div {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10rem;
}
/* img style */
.hi-seasonEnf-img {
  width: 40em;
  height: 40em;
  align-content: end;
  margin-left: 10rem;
  position: relative;
}
.hi-seasonEnf-img > img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hi-seasonEnf-imgLabel {
  width: 100%;
  height: 3rem;
  position: absolute;
  bottom: 0;
  background-color: rgba(20, 20, 57, 0.7);
  display: flex;
  z-index: 1;
  justify-content: end;
  align-items: center;
  color: white;
  cursor: pointer;
}
.hi-seasonEnf-imgLabel > a {
  display: block;
  padding-right: 2.5rem;
  color: white;
}
/* story style */
.hi-seasonEnf-txtB {
  width: 60rem;
  height: 70%;
}
.hi-seasonEnf-txtTop {
  width: 40%;
  height: 5rem;
  align-content: end;
  padding-bottom: 0.3rem;
  border-bottom: 0.1rem solid #22d5ff;
  color: white;
}
.hi-seasonEnf-txtName {
  font-size: 2.5rem;
  margin-top: 2rem;
  color: white;
}
.hi-seasonEnf-term {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 4rem;
}
.hi-seasonEnf-ex {
  color: rgba(255, 255, 255, 0.7);
  margin-top: 6rem;
}

/* SAVE TOUR 섹션 스타일 */
.jb-section {
  width: 100%;
  height: 20%;
  padding: 2rem 0;
  background-color: #0f172a;
  text-align: center;
}

.jb-section1 {
  width: 100%;
  height: 43%;
  padding: 2rem 0;
  text-align: center;
  margin-top: 10%;
}

/* 제목 스타일 */
.jb-subTit {
  font-size: 3rem;
  font-family: "Rosarivo";
  color: #000000;
}
.jb-subTit1 {
  font-size: 1.25rem;
  color: #94a3b8;
  margin-bottom: 2rem;
}

/* 슬라이드 컨테이너 */
.jb-mainImgBox {
  width: 115rem;
  overflow: hidden;
  position: relative;
  margin: 50px auto;
}

/* 실제 슬라이드 이동하는 부분 */
.jb-mainImgWrapper {
  display: flex;
  transition: transform 1s ease-in-out;
  white-space: nowrap;
}

/* 개별 이미지 박스 */
.jb-mainImgWrapper div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  flex-shrink: 0;
  margin-right: 3.5rem;
}

/* 이미지 스타일 */
.jb-mainImg {
  width: 100%;
  height: 20rem;
  background-color: #cbd5e1;
  border-radius: 5rem;
}

/* 이미지 조절 */
.jb-mainImg > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem;
}

/* 이미지 하단의 이름 */
.jb-springName,
.jb-summerName,
.jb-autumnName,
.jb-winterName {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-family: "DM Sans";
  color: #000000;
}

/* 추억 기록,리뷰 페이지 */

.jb-section2 {
  width: 100%;
  height: 80vh;
  /* padding: 2rem 0; 밑에 흰배경이 생성 됨 */
  padding-bottom: 2rem;
  background-color: #0f172a;
  text-align: center;
  margin-top: 10%;
}

/* 제목 스타일 */
.jb-subTit2 {
  font-size: 3rem;
  font-family: "Rosarivo";
  color: #f8fafc;
  padding-top: 2rem; /*제목위 여백*/
}
.jb-subTit3 {
  font-size: 1.25rem;
  color: #94a3b8;
  margin-bottom: 2rem;
}

/* 시즌별 컨테이너 */
.jb-reBox {
  display: none; /* 기본적으로 숨김 */
  padding: 4rem;
  border-radius: 1.5rem;
  /* margin: 2rem; */
  background-color: #0f172a;
}

/* 기본적으로 Spring이 보이도록 설정 */
.jb-reBox1 {
  display: block;
}

/* Season 텍스트 스타일 */
.jb-whiteBox {
  display: inline-block;
  border: 0.1rem solid white;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}

/* 시즌 제목 */
.jb-springBox,
.jb-summerBox,
.jb-autumnBox,
.jb-winterBox {
  font-size: 3rem;
  font-family: "Rosarivo", serif;
  margin-top: 1rem;
}

/* 색상 설정 */
.jb-springBox {
  color: #ffc0cb;
}
.jb-summerBox {
  color: #22d5ff;
}
.jb-autumnBox {
  color: #ffba08;
}
.jb-winterBox {
  color: #add8e6;
}

/* 리뷰 박스 스타일 */
.jb-spRevBox1,
.jb-spRevBox2,
.jb-spRevBox3,
.jb-spRevBox4 {
  width: 80%;
  height: 6rem;
  margin: 3rem auto;
  border-radius: 2rem;
  color: #ffc0cb;
  border: 0.1rem solid #ffc0cb;
  background-color: #ffc0cb15;
}
.hi-reBoxSp-reviewStory:nth-child(1) {
  color: #ffffff;
  transition: 0.3s;
}
.hi-reBoxSp-reviewStory:nth-child(1):hover {
  color: #b8818a;
}
.hi-reBoxSp-reviewStory:nth-child(2) {
  margin-top: 1rem;
  color: #ffc0cb;
  font-size: 1.5rem;
}

.jb-suRevBox1,
.jb-suRevBox2,
.jb-suRevBox3,
.jb-suRevBox4 {
  width: 80%;
  height: 6rem;
  margin: 3rem auto;
  border-radius: 2rem;
  color: #22d5ff;
  border: 0.1rem solid #22d5ff;
  background-color: #22d5ff15;
}

.hi-reBoxSu-reviewStory:nth-child(1) {
  color: #ffffff;
  transition: 0.3s;
}
.hi-reBoxSu-reviewStory:nth-child(1):hover {
  color: #0996b6;
}
.hi-reBoxSu-reviewStory:nth-child(2) {
  margin-top: 1rem;
  color: #22d5ff;
  font-size: 1.5rem;
}

.jb-auRevBox1,
.jb-auRevBox2,
.jb-auRevBox3,
.jb-auRevBox4 {
  width: 80%;
  height: 6rem;
  margin: 3rem auto;
  border-radius: 2rem;
  color: #ffba08;
  border: 0.1rem solid #ffba08;
  background-color: #ffba0815;
}

.hi-reBoxAu-reviewStory:nth-child(1) {
  color: #ffffff;
  transition: 0.3s;
}
.hi-reBoxAu-reviewStory:nth-child(1):hover {
  color: #ad7f0a;
}
.hi-reBoxAu-reviewStory:nth-child(2) {
  margin-top: 1rem;
  color: #ffba08;
  font-size: 1.5rem;
}

.jb-wiRevBox1,
.jb-wirevBox2,
.jb-wiRevBox3,
.jb-wiRevBox4 {
  width: 80%;
  height: 6rem;
  margin: 3rem auto;
  border-radius: 2rem;
  color: #add8e6;
  border: 0.1rem solid #add8e6;
  background-color: #add8e615;
}

.hi-reBoxWi-reviewStory:nth-child(1) {
  color: #ffffff;
  transition: 0.3s;
}
.hi-reBoxWi-reviewStory:nth-child(1):hover {
  color: #7ab4c7;
}
.hi-reBoxWi-reviewStory:nth-child(2) {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #add8e6;
}

/* 버튼 스타일 */
#jb-springBtn,
#jb-summerBtn,
#jb-autumnBtn,
#jb-winterBtn {
  background-color: #5555555e;
  color: white;
  border: 0.1rem solid #555;
  padding: 1rem 1.5rem;
  margin: 1rem 0.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  transition: 0.2s;
}

#jb-springBtn:hover,
#jb-summerBtn:hover,
#jb-autumnBtn:hover,
#jb-winterBtn:hover {
  background-color: #0e0e0e;
}

/* 카카오맵 api */
#map {
  width: 100%;
  height: 50vh;
  display: none;
  margin-bottom: 5rem;
}

#address {
  padding: 10px;
  margin: 20px;
  width: 300px;
  font-size: 16px;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
}

#searchButton {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}
.jb-mapTit {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: #0f172a;
}
.search-container {
  position: relative;
  text-align: center;
  margin-top: 20px;
  z-index: 30;
}

.hi-mapSection {
  position: relative;
  padding: 3rem 0;
  background-color: #ffffff;
}

/* 웹버전 메뉴 */
#hi-mainMenu-web {
  width: 100vw;
  height: 100%;
  background-color: #141b33;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 1001;
  display: flex;
  justify-content: center;
}
#hi-mainMenu-web {
  width: 100vw;
  height: 100%;
  background-color: #141b33;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 1001;
  display: flex;
  justify-content: center;
}
#hi-mainMenu-web.hideMenu {
  display: none;
}
#hi-mainMenu-web > div {
  width: 60%;
  margin-top: 10%;
}
.hi-menuBoxTop {
  width: 100%;
  height: 4rem;
  border-bottom: 0.1rem solid white;
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}
.hi-menuBoxTop > div {
  font-family: "Rosarivo";
  color: white;
  font-size: 3rem;
  margin-right: 1rem;
  padding-left: 0.5rem;
}
.hi-menuBoxTop > div:nth-child(1) {
  margin-right: 1rem;
  padding-left: 0.5rem;
  width: 13rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}
.hi-menuBoxTop > div:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hi-menuBoxTop > span {
  font-family: "Rosarivo";
  color: white;
  padding-left: 0.5rem;
  font-size: 2rem;
  border-left: 0.1rem solid white;
}

.hi-menuBox {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.hi-menuSub > div:nth-child(1) a {
  font-family: "Rosarivo";
  color: white;
  font-size: 2rem;
}
.hi-menuSub > div:nth-child(2) > ul > li {
  padding-top: 1rem;
}
.hi-menuSub > div:nth-child(2) > ul > li > a {
  color: white;
  font-family: "IBM Plex Sans KR";
  font-size: 1.2rem;
}
.hi-menuSub > div a {
  transition: 0.3s;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0);
}
.hi-menuSub > div a:hover {
  border-bottom: 0.1rem solid white;
}

/* 앱버전 메뉴 */
#hi-mainMenu-app {
  width: 100vw;
  height: 100%;
  background-color: #141b33;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 1001;
  align-content: center;
}
#hi-mainMenu-app {
  width: 100vw;
  height: 100%;
  background-color: #141b33;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: 1001;
  align-content: center;
}
#hi-mainMenu-app {
  display: none;
}
.hi-mainMenu-appBoxtop {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 0.1rem solid white;
  position: relative;
}
.hi-mainMenu-appBoxtop > div {
  font-family: "Rosarivo";
  color: white;
  font-size: 2.5rem;
  margin-right: 1rem;
  padding-left: 0.5rem;
}
.hi-mainMenu-appBoxtop > div:nth-child(1) {
  margin-right: 1rem;
  padding-left: 0.5rem;
  width: 12rem;
  height: 3rem;
  margin-bottom: 0.5rem;
}
.hi-mainMenu-appBoxtop > div:nth-child(1) img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.hi-mainMenu-appBoxtop > span {
  font-family: "Rosarivo";
  color: white;
  padding-left: 0.5rem;
  font-size: 2rem;
  border-left: 0.1rem solid white;
}
#hi-accordionMenu-Close {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hi-accordionMenu-Close img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  transition: 0.3s;
}
#hi-accordionMenu-Close > img:hover {
  transform: rotate(180deg);
}
.hi-mainMenu-appBox {
  width: 85%;
  margin: auto;
}
.hi-accordionMenu {
  background-color: rgba(191, 191, 191, 0);
  text-align: left;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
  color: white;
  font-size: 2rem;
  font-family: "Rosarivo";
  border-bottom: 0.1rem solid white;
  transition: 0.5s;
}
.hi-accordionMenu:hover {
  background-color: rgba(128, 128, 128, 0.15);
}
.hi-accordionMenu::after {
  content: "▼";
  font-size: 1rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  float: right;
  margin-top: 0.5rem;
}
.hi-accordionMenu.ons {
  background-color: rgba(169, 169, 169, 0.3);
}
.ons::after {
  content: "▲";
  font-size: 1rem;
}
.hi-appMenu {
  padding: 0 1rem;
  background-color: rgba(218, 218, 218, 0.05);
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.hi-appMenu > p {
  padding: 1rem 0;
  width: 100%;
  display: block;
}
.hi-appMenu a {
  width: 100%;
  height: 100%;
  display: block;
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
  transition: 0.3s;
}
.hi-appMenu p:hover a {
  color: white;
  font-weight: 600;
}

/* menu close */
#hi-menuBox-Close {
  position: absolute;
  right: 0;
  margin-bottom: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
body.no-scroll {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
#hi-menuBox-Close img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s;
}
#hi-menuBox-Close img:hover {
  transform: rotate(180deg);
}

/* footer 부분 */

footer {
  width: 100%;
  height: 10rem;
  position: relative;
  background-color: #0f172a;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer > span {
  color: white;
  font-size: 1.5rem;
}
.hi-footerBox {
  position: absolute;
  bottom: 0.5rem;
  right: 5rem;
}
.hi-figmaBox > a {
  height: 2rem;
  display: flex;
  align-items: center;
}
.hi-downBox > a {
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.hi-footerSubtxt {
  padding-left: 0.5rem;
  color: rgba(255, 255, 255, 0.5);
}
.hi-footerIcon {
  width: 1.5rem;
  height: 1.5rem;
  object-fit: contain;
  opacity: 0.5;
  transform: rotate(30deg);
}

/* pc */
@media (min-width: 1025px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* header */
  .jm-topNavMenu {
    height: 10rem;
  }
  /* logo */
  .hi-topMenuImgLogo {
    position: absolute;
    left: 10%;
    top: 5rem;
  }

  .jm-topNavMenu > ul:nth-child(2) {
    display: none;
  }
  .jm-topNavMenu > ul:nth-child(3) {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    margin-right: 3rem;
    display: block;
  }

  /* 메인페이지 이미지 */
  header {
    margin-bottom: 25rem;
  }
  .jm-mainImgBox {
    width: 90%;
    height: 37rem;
  }

  .jm-mainImgBox > .jm-mainImgs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
  }

  .jm-mainImgs > li {
    position: relative;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
  }

  .jm-mainImg.on {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
  }
  .hi-blankColor {
    display: none;
  }

  /* hein section 02 ----------*/
  .hi-seasonEnf {
    width: 100vw;
    height: 80%;
    margin: auto;
    background-color: rgba(20, 20, 57, 0.85);
    display: flex;
    align-items: center;
  }
  #hi-seasonEnf-btnL {
    margin-left: 0%;
    position: absolute;
    left: 3rem;
  }
  #hi-seasonEnf-btnR {
    margin-right: 0%;
    position: absolute;
    right: 2rem;
    overflow: none;
  }
  .hi-seasonEnf-mainBox {
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  .hi-seasonEnf-mainBox > div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    gap: 10rem;
  }
  /* 이미지 */
  .hi-seasonEnf-img {
    width: 85%;
    height: 40%;
    align-content: end;
    position: relative;
    margin-left: 0rem;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    overflow: hidden;
  }
  /* text */
  .hi-seasonEnf-txtB {
    width: 100%;
    height: 55%;
    margin-top: 3rem;
    position: relative;
    bottom: 0rem;
  }
  .hi-seasonEnf-txtTop {
    width: 70%;
    margin: auto;
    height: 5rem;
    align-items: end;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid #22d5ff;
    color: white;
    display: flex;
    justify-content: center;
  }
  .hi-seasonEnf-txtName {
    width: 100%;
    font-size: 2.5rem;
    margin-top: 2rem;
    color: white;
    text-align: center;
  }
  .hi-seasonEnf-term {
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 4rem;
    text-align: center;
  }
  .hi-seasonEnf-ex {
    display: none;
  }

  /* save tour */
  .jb-section {
    width: 100%;
    height: 50%;
    padding: 2rem 0;
    background-color: #0f172a;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
  }

  .jb-section1 {
    width: 100%;
    height: 43%;
    padding: 2rem 0;
    text-align: center;
  }

  .jb-mainImgBox {
    width: 115rem;
    overflow: hidden;
    position: relative;
    margin: 50px auto;
    margin-bottom: 15rem;
  }

  /* 개별 이미지 박스 */
  .jb-mainImgWrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    flex-shrink: 0;
    margin-right: 3.5rem;
  }
  /* 이미지 스타일 */
  .jb-mainImg {
    width: 100%;
    height: 15rem;
    background-color: #cbd5e1;
    border-radius: 5rem;
  }

  /* 추억 기록,리뷰 페이지 */

  .jb-section2 {
    width: 100%;
    height: 100vh;
    /* padding: 2rem 0; 밑에 흰배경이 생성 됨 */
    background-color: #0f172a;
    text-align: center;
    margin-top: 15rem;
  }

  /* 리뷰 박스 스타일 */
  .jb-spRevBox1,
  .jb-spRevBox2,
  .jb-spRevBox3,
  .jb-spRevBox4 {
    width: 90%;
    height: 10rem;
    margin: 3rem auto;
    border-radius: 2rem;
    color: #ffc0cb;
    border: 0.1rem solid #ffc0cb;
    background-color: #ffc0cb15;
    align-content: center;
    padding: 0 1rem;
  }

  .jb-suRevBox1,
  .jb-suRevBox2,
  .jb-suRevBox3,
  .jb-suRevBox4 {
    width: 90%;
    height: 10rem;
    margin: 3rem auto;
    border-radius: 2rem;
    color: #22d5ff;
    border: 0.1rem solid #22d5ff;
    background-color: #22d5ff15;
    align-content: center;
    padding: 0 1rem;
  }

  .jb-auRevBox1,
  .jb-auRevBox2,
  .jb-auRevBox3,
  .jb-auRevBox4 {
    width: 90%;
    height: 10rem;
    margin: 3rem auto;
    border-radius: 2rem;
    color: #ffba08;
    border: 0.1rem solid #ffba08;
    background-color: #ffba0815;
    align-content: center;
    padding: 0 1rem;
  }

  .jb-wiRevBox1,
  .jb-wirevBox2,
  .jb-wiRevBox3,
  .jb-wiRevBox4 {
    width: 90%;
    height: 10rem;
    margin: 3rem auto;
    border-radius: 2rem;
    color: #add8e6;
    border: 0.1rem solid #add8e6;
    background-color: #add8e615;
    align-content: center;
    padding: 0 1rem;
  }

  #map {
    width: 100%;
    height: 50vh;
    display: none;
    margin-bottom: 5rem;
  }
}

/* 모바일 */
@media (max-width: 768px) {
  /* header */
  .jm-topNavMenu {
    height: 10rem;
  }
  /* logo */
  .hi-topMenuImgLogo {
    position: absolute;
    left: 10%;
    top: 5rem;
  }

  .jm-topNavMenu > ul:nth-child(2) {
    display: none;
  }
  .jm-topNavMenu > ul:nth-child(3) {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    margin-right: 3rem;
    display: block;
  }

  /* 메인페이지 이미지 */
  header {
    margin-bottom: 25rem;
  }
  .jm-mainImgBox {
    width: 80%;
    height: 34rem;
  }

  .jm-mainImgBox > .jm-mainImgs {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
  }

  .jm-mainImgs > li {
    position: relative;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 2s;
  }

  .jm-mainImg.on {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
  }
  .hi-blankColor {
    display: none;
  }

  /* hein section 01 ----------*/
  .hi-section {
    margin-bottom: 10rem;
  }
  .hi-section:nth-child(2) {
    height: 100vh;
  }
  .hi-seasonT {
    width: 80%;
    height: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .hi-seasonT > div {
    width: 48%;
    height: 45%;
    align-content: center;
  }

  /* hein section 02 ----------*/
  .hi-seasonEnf {
    width: 100vw;
    height: 80%;
    margin: auto;
    background-color: rgba(20, 20, 57, 0.85);
    display: flex;
    align-items: center;
  }
  #hi-seasonEnf-btnL {
    margin-left: 0%;
    position: absolute;
    left: 3rem;
  }
  #hi-seasonEnf-btnR {
    margin-right: 0%;
    position: absolute;
    right: 2rem;
    overflow: none;
  }
  .hi-seasonEnf-mainBox {
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
  }
  .hi-seasonEnf-mainBox > div {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    gap: 10rem;
  }
  /* 이미지 */
  .hi-seasonEnf-img {
    width: 85%;
    height: 40%;
    align-content: end;
    position: relative;
    margin-left: 0rem;
    top: 5rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    overflow: hidden;
  }
  /* text */
  .hi-seasonEnf-txtB {
    width: 100%;
    height: 55%;
    margin-top: 3rem;
    position: relative;
    bottom: 0rem;
  }
  .hi-seasonEnf-txtTop {
    width: 70%;
    margin: auto;
    height: 5rem;
    align-items: end;
    padding-bottom: 0.3rem;
    border-bottom: 0.1rem solid #22d5ff;
    color: white;
    display: flex;
    justify-content: center;
  }
  .hi-seasonEnf-txtName {
    width: 100%;
    font-size: 2.5rem;
    margin-top: 2rem;
    color: white;
    text-align: center;
  }
  .hi-seasonEnf-term {
    width: 100%;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 4rem;
    text-align: center;
  }
  .hi-seasonEnf-ex {
    display: none;
  }

  /* save tour */
  .jb-section {
    width: 100%;
    height: 50%;
    padding: 2rem 0;
    background-color: #0f172a;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
  }

  .jb-section1 {
    width: 100%;
    height: 43%;
    padding: 2rem 0;
    text-align: center;
  }

  .jb-mainImgBox {
    width: 115rem;
    overflow: hidden;
    position: relative;
    margin: 50px auto;
    margin-bottom: 15rem;
  }

  /* 개별 이미지 박스 */
  .jb-mainImgWrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    flex-shrink: 0;
    margin-right: 3.5rem;
  }
  /* 이미지 스타일 */
  .jb-mainImg {
    width: 100%;
    height: 15rem;
    background-color: #cbd5e1;
    border-radius: 5rem;
  }

  /* 추억 기록,리뷰 페이지 */

  .jb-section2 {
    width: 100%;
    height: 110vh;
    /* padding: 2rem 0; 밑에 흰배경이 생성 됨 */
    background-color: #0f172a;
    text-align: center;
    margin-top: 15rem;
  }

  /* 리뷰 박스 스타일 */
  .jb-spRevBox1,
  .jb-spRevBox2,
  .jb-spRevBox3,
  .jb-spRevBox4 {
    width: 90%;
    height: 10rem;
    margin: 3rem auto;
    border-radius: 2rem;
    color: #ffc0cb;
    border: 0.1rem solid #ffc0cb;
    background-color: #ffc0cb15;
    align-content: center;
    padding: 0 1rem;
  }

  .jb-suRevBox1,
  .jb-suRevBox2,
  .jb-suRevBox3,
  .jb-suRevBox4 {
    width: 90%;
    height: 10rem;
    margin: 3rem auto;
    border-radius: 2rem;
    color: #22d5ff;
    border: 0.1rem solid #22d5ff;
    background-color: #22d5ff15;
    align-content: center;
    padding: 0 1rem;
  }

  .jb-auRevBox1,
  .jb-auRevBox2,
  .jb-auRevBox3,
  .jb-auRevBox4 {
    width: 90%;
    height: 10rem;
    margin: 3rem auto;
    border-radius: 2rem;
    color: #ffba08;
    border: 0.1rem solid #ffba08;
    background-color: #ffba0815;
    align-content: center;
    padding: 0 1rem;
  }

  .jb-wiRevBox1,
  .jb-wirevBox2,
  .jb-wiRevBox3,
  .jb-wiRevBox4 {
    width: 90%;
    height: 10rem;
    margin: 3rem auto;
    border-radius: 2rem;
    color: #add8e6;
    border: 0.1rem solid #add8e6;
    background-color: #add8e615;
    align-content: center;
    padding: 0 1rem;
  }

  #map {
    width: 100%;
    height: 50vh;
    display: none;
    margin-bottom: 5rem;
  }
}
